Link*
README.md
*.aux
*.bak
*.bbl
*.blg
*.brf
*.bst
*.bz2
*checkpoint.ipynb
*.cls
*.cpg
*.dbf
*.geojson
*.gmt
*.gif
*.gz
*.html
*.jpg
*.jpeg
*.lof
*.lot
*.out
*.prj
*.qgs
*.qpj
*.sbn
*.sbx
*.shp
*.shx
*.style
*.toc
*.zip
*.pyc
*~
*.coverage
**/export/**/*.xml
**/export/**/*.log
**/build/
**/stash/
Faults/**/*.kml
Faults/**/*.pdf
Faults/**/*.txt
Faults/**/*.xml
HazardOutputs/**/*.log
HazardOutputs/**/*.xml
HazardOutputs/**/*.csv
