Link*
README.md
*.aux
*.log
*.bak
*.bbl
*.blg
*.brf
*.bst
*.bz2
*checkpoint.ipynb
*.cls
*.cpg
*.qpj
*.dbf
*.geojson
*.gmt
*.gif
*.gz
*.html
*.jpg
*.jpeg
*.lof
*.lot
*.out
*.prj
*.qgs
*.qml
*.sbn
*.sbx
*.shp
*.shx
*.style
*.toc
*.zip
*~
